
@mixin rainbow() {
    animation: rainbow 15s;
    animation-timing-function: ease-out;
    animation-delay: 0;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    animation-fill-mode: none;
    animation-play-state: running;
}

@mixin rainbow_text() {
    animation: rainbow_text 10s;
    animation-timing-function: ease-out;
    animation-delay: 0;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    animation-fill-mode: none;
    animation-play-state: running;
}

@mixin rainbow_inset() {
    animation: rainbow_inset 10s;
    animation-timing-function: ease-out;
    animation-delay: 0;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    animation-fill-mode: none;
    animation-play-state: running;
}

@mixin rainbow_outset() {
    animation: rainbow_outset 10s;
    animation-timing-function: ease-out;
    animation-delay: 0;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    animation-fill-mode: none;
    animation-play-state: running;
}

@mixin astronaut-spin() {
    animation: spin 40s;
    animation-timing-function: ease-out;
    animation-delay: 0;
    animation-direction: normal;
    animation-iteration-count: infinite;
    animation-fill-mode: none;
    animation-play-state: running;
}

@mixin jiggle() {
    animation: jiggle 1s;
    animation-timing-function: ease-out;
    animation-delay: 1;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    animation-fill-mode: none;
    animation-play-state: running;
}

@mixin boxcolor() {
    animation: boxcolor 5s;
    animation-timing-function:linear;
    animation-delay: 0;
    animation-direction: normal;
    animation-iteration-count: infinite;
    animation-play-state: running;
}

@mixin boxflow() {
    animation: boxflow 9s;
    animation-timing-function: ease-out;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    animation-fill-mode: none;
    animation-play-state: running;
}

@mixin gardient() {
    animation: gardient 9s;
    animation-timing-function: ease-out;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    animation-fill-mode: none;
    animation-play-state: running;
}

@mixin ue() {
    animation: ue 2s;
    animation-timing-function: ease-out;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    animation-fill-mode: none;
    animation-play-state: running;
}

@mixin blend_in() {
    animation: blend_in 2s;
    animation-timing-function: ease-out;
    animation-direction: normal;
    animation-fill-mode:forwards;
    animation-play-state: running;
}

@mixin cursor() {
    animation: cursor 2s;
    animation-timing-function:ease-out;
    animation-direction: normal;
    animation-fill-mode: forwards;
    animation-play-state: running;
}



