$breakpoints: (
        xs: 375px, // 375 x 667
        sm: 920px, // 920 x 1080
        md: 768px, // 768 x 1024 
        lg: 1024px, // 1024 x 768
        hd: 1290px, // 1290 x 1080
        ws: 1440px, // 1440 x 1024
        xl: 2560px // 2560 x 1556
);

@mixin media-up($limit) {
    @media all and (min-width: map-get($breakpoints, $limit)) {
        @content;
    }
}

@mixin media-down($limit) {
    @media all and (max-width: map-get($breakpoints, $limit)) {
        @content;
    }
}

@mixin font-scale($min-size, $max-size) {
    
    $width_min: 32;
    $width_max: 138;

    font-size: $min-size;

    @include media-up(xs) {
        font-size: calc( #{$min-size} + #{strip-unit($max-size - $min-size)} * (100vw - #{$width_min * 1rem}) / #{$width_max - $width_min});
    }
    
    @include media-up(ws) {
        font-size: $max-size;
    }
}