@import "mixin/breakpoint"; //, "animation", "mixin/animation";

// ! ANCHOR Cursor-Circle

#cursor {
    width: 14px;
    height: 14px;

    position: fixed;

    border: 1px solid white;
    border-radius: 50%;

    transform: translateX(-7px);
    filter: opacity(80%);

    transition-duration: 10ms;
    transition-timing-function: ease-out;

    pointer-events: none;

    z-index: 200;

}

// ! ANCHOR Header-Banner
// LINK ./header-banner.scss:3

header > #headerbanner {
    & > a > #logo {
        @include media-down('sm'){
            font-size: 6vw;
            width: 100%;

            height: 100%;

            margin: 0;
            left: -10%;

            order: 1;

            align-content: right;
            justify-content: center;
        }
    }

    & > #aboutme-button > a > #aboutme-ico {
        @include media-down('sm'){
            width: 10%;
            right: 1vw;
            transition: 0s;
        }
    }

    & > #aboutme-button > a > #aboutme {
        @include media-down('sm'){
            display: none;
        }
    }

    & > #projects-button > a > #projects {
        @include media-down('sm'){
            display: none;
        }
    }

    & > #contact-button > a > #contact {
        @include media-down('sm'){
            display: none;
        }
    }
}


// ! ANCHOR Section 1
// LINK ./section1.scss:6

section1 {

    & > #par3 {
        
        @include media-down('lg'){
            background-size: cover;
        }
    }

    & > #par5 {

        @include media-down('xs'){
            width: 35%;
            height: 55%;
            top: 95%;
        }
    }

    & > #par6 {

        @include media-down('xs'){
            top: -20%;
            left: 0;
        }
    
        @include media-down('lg'){
            margin:auto;
            left: 0;
        }
    }

    & > #par6 > h5 {

        @include media-down('ws'){
            font-size: 380%;
        }
    }

    & > #par6 > h6 {
        
        @include media-down('ws'){
            font-size: 420%;
        }
    }
}


// ! ANCHOR Section 2
// LINK ./section2.scss:20

section2 > #sb1 {

    @include media-down('md'){
        height: 160vh;
    }


    // ! ANCHOR Headers
    // LINK ./section2.scss:45

    & > span {

        @include media-down('md'){
            top: -46%;
        }
    }

    & > span > #aboutmeheader1 {

        @include media-down('xl'){
            right: -45vw;
        }
        @include media-down('ws'){
            right: -35vw;
        }
        @include media-down('lg'){
            left: -45vw;
        }
        @include media-down('md'){
            left: 12vw;
        }
        @include media-down('sm'){
            left: -15vw;
        }
        @include media-down('sm'){
            left: 15vw;
        }
    }

    & > span > #aboutmeheader2 {

        @include media-down('xl'){
            top: -25%;
            right: 9vw;
        }
        @include media-down('ws'){
            right: 25vw;
        }
        @include media-down('lg'){
            left: 15vw;
        }
        @include media-down('md'){
            left: 12vw;
        }
        @include media-down('sm'){
            left: 20vw;
        }
        @include media-down('xs'){
            left: 30vw;
        }
    }

    & > span > #aboutmeheader3 {

        @include media-down('xl'){
            margin-right: 15vw;
        }
        @include media-down('ws'){
            margin-right: 19vw;
        }
        @include media-down('lg'){
            margin-right: 27vw;
        }
        @include media-down('md'){
            margin-right: 10vw;
        }
        @include media-down('sm'){
            margin-right: 61vw;
        }
        @include media-down('xs'){
            margin-right: 80vw;
        }
    }


    // ! ANCHOR Skill-box
    // LINK ./section2.scss:136

    & > #skills { 

        @include media-down('md'){
            top: 25%;
            justify-content: center;
            flex-direction: column;
            flex-flow: column;
            margin: 0;
        }

        @include media-down('xs'){
            top: 45%;
        }
    }

    & > #skills > #skills_text {

        @include media-down('xl'){
            transform: scale(1);
            width: 40%;
        }

        @include media-down('ws'){
            transform: scale(.9);
            width: 115%;
            left: -2;
        }

        @include media-down('hd'){
            transform: scale(.9);
            width: 100%;
            left: -2;
        }

        @include media-down('lg'){
            transform: scale(.7);
            width: 120%;
            top: -20%;
        }

        @include media-down('md'){
            transform: scale(1.1);
            align-items: baseline;
            margin:0;
            left:0;
            margin-right: 12%;
            top: 3vh;
        }

        @include media-down('sm'){
            transform: scale(.8);
            width: 110%;
            right: 10%;
            top: -2%;
        }

        @include media-down('xs'){
            transform: scale(.7);
            width: 150%;
            top: -23%;
        }
    }

    & > #skills > #skills_text > div {

        @include media-down('md'){
            border-width: 0px;
            width: 100%;
        }
    }

    & > #skills > #skills_text > div > p {

        @include media-down('md'){
            text-align: center;
            font-size: 21px;
        }
    }

    & > #skills > .loader {
        @include media-down('xl'){
            transform: skewY(15deg) translateX(-20%) translateY(10%) scale(1.05);
        }

        @include media-down('ws'){
            transform: skewY(15deg) translateX(-20%) translateY(10%) scale(.9);
            margin-right: 15%;
            left: 8%;
        }

        @include media-down('hd'){
            transform: skewY(15deg) translateX(-20%) translateY(10%) scale(.6);
        }

        @include media-down('lg'){
            transform: skewY(15deg) translateX(-20%) translateY(10%) scale(.7);
            top: -15%;
            left: 8%;
        }

        @include media-down('md'){
            transform: skewY(15deg) translateX(-20%) translateY(10%) scale(.8);
            margin-top: 40%;
            left: 19%;
            margin-left: 45%;
        }

        @include media-down('sm'){
            transform: skewY(15deg) translateX(-20%) translateY(10%) scale(.51);
            left: -18vw;
            margin-left: 35%;
        }

        @include media-down('xs'){
            transform: skewY(15deg) translateX(-20%) translateY(10%) scale(.50);
            top: -40%;
        }
    }
}

section3 {
    #par1_2 { // ? ANCHOR parallax background
        @include media-down('sm'){
            left: 20%;
        }
    }
}

// TODO Adding breakpoints of section 4 & 3
// LINK ./section4.scss
// LINK ./section3.scss