@import "mixin/breakpoint"; //, "animation", "mixin/animation";

// ! ANCHOR Cursor-Circle

// ! ANCHOR Header-Banner
// LINK ./header-banner.scss:3

header > #headerbanner {
    & > a > #logo {
        @include media-down('sm'){
            font-size: 6vw;
            width: 100%;
            height: 100%;

            margin-left: -9%;

            align-content: center;
            justify-content: center;
        }
    }
}


// ! ANCHOR Section 1
// LINK ./section1.scss:6

section1 {

    & > #par3 {
        
        @include media-down('lg'){
            background-size: cover;
        }
    }

    & > #par5 {

        @include media-down('xs'){
            width: 35%;
            height: 55%;
            top: 95%;
        }
    }

    & > #par6 {

        @include media-down('xs'){
            font-size: 80%;
        }
    
        @include media-down('lg'){
            margin:auto;
        }
    }

    & > #par6 > h6 {
        @include media-down('ws'){
            font-size: 200%;

        }
    }

    & > #par6 > h1 {
        @include media-down('ws'){
            font-size: 150%;
            margin:-5vh;
        }
    }
}


// ! ANCHOR Section 2
// LINK ./section2.scss:20

section2 > #sb1 {
    @include media-down('md'){
        height: 160vh;
    }

    & > #vpc {
        margin-right: 0;
    }
}

section3 {
    #par1_2 { // ? ANCHOR parallax background
        @include media-down('sm'){
            left: 20%;
        }
    }
}