// Mixins-Import
@import "mixin/animation", "mixin/main", "animation", "main";

$transition: .1s;

section1 {
    width: 100%;
    height: 100vh;

    position: fixed;
    overflow: hidden;

    align-items: center;
    justify-content:center;

    -ms-overflow-style: none;  
    scrollbar-width: none; 

    &::-webkit-scrollbar {
        display: none;
    }
}

#sb0 {
    width: 100%;
    height: 20%;
}

#par1 { // ? NOTE parallax background
    width: 100%;
    height: 100%;

    top: 5vh;

    position: absolute;
    --show: none;
    display: var(--show);

    background-image: url("img/space.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-origin: inherit;

    transition: $transition;

    z-index: 80;
}

#par2 { // ? NOTE parallax layer -> stones
    width: 100%;
    height: 100%;

    top: 25%;

    position: absolute;
    --show: none;
    display: var(--show);

    background-image: url("img/stones.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    transition: $transition;

    z-index: 83;
}

#par3 { // ? NOTE parallax layer -> planets
    width: 100%;
    height: 100%;

    top: 10%;

    position: absolute;
    --show: none;
    display: var(--show);

    background-image: url("img/planets1.png");
    background-position: center;
    background-size: contain;

    background-repeat: no-repeat;

    transition: $transition;

    z-index: 82;
}

#par4 { // ? NOTE parallax layer -> planets
    width: 100%;
    height: 100%;

    top: 5%;

    position: absolute;
    --show: none;
    display: var(--show);

    background-image: url("img/planets2.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    transition: $transition;

    z-index: 81;
}

#par5 { // ? NOTE parallax layer -> astronaut
    width: 12%;
    height: 12%;

    top: 91%;

    position: absolute;
    --show: none;
    display: var(--show);

    background-image: url("img/astronaut.png");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;

    transition: $transition;

    z-index: 85;
}

#par6 { // ? NOTE parallax layer -> text
    width: 80%;
    height: 13%;
    min-height: 20vw;

    top: 65%;
    left: 20%;

    justify-content: center;
    align-content: center;

    position: absolute;
    --show: none;
    display: var(--show);

    font-weight: 800;
    text-shadow: $text-shadow-normal;
    text-align: center;

    transition: $transition;

    z-index: 82;

    & > h6 {
        font-weight: 800;
        font-size: 420%;
        height: auto;
        margin: auto;
    }

    & > #par6_2 {bottom: 10%;
        font-size: 305%;
        transform: rotate(180deg) scaleX(-1);
    }

    @extend .disSelection;
}