// Mixins-Import
@import "mixin/animation", "mixin/breakpoint", "mixin/main", "animation", "main";

$transition: .1s;

section3 {
    width: 100vw;
    height: 100vh;

    top: 0vh;

    position: fixed;
    overflow: hidden;

    align-items: center;
    justify-content:center;

    -ms-overflow-style: none;  
    scrollbar-width: none;
}

#par1_2 { // ? NOTE parallax background
    width: 120vw;
    height: 100vh;

    top: 90px;

    position: absolute;
    --show: none;
    display: var(--show);

    background-image: url("img/space.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    
    filter:saturate(120%) hue-rotate(30deg);

    transition: $transition;

    z-index: 91;
}

#par2_2 { // ? NOTE parallax planet
    width: 100%;
    height: 150%;

    top: 800px;
    right: 2vw;

    position: absolute;
    --show: none;
    display: var(--show);

    background-image: url("img/planet2.png");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;

    transition: $transition;

    z-index: 92;
}

#par3_2 { // ? NOTE parallax mountains
    width: 100%;
    height: 100%;

    top: 550px;

    position: absolute;
    --show: none;
    display: var(--show);

    background-image: url("img/mountains1.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    transition: $transition;

    z-index: 93;
}

#par4_2 { // ? NOTE parallax ground
    width: 100%;
    height: 100%;

    top: 730px;

    position: absolute;
    --show: none;
    display: var(--show);

    background-image: url("img/ground.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    transition: $transition;

    z-index: 94;
}

#par5_2 { // ? NOTE parallax ground front
    width: 100vw;
    height: 100%;

    top: 580px;

    position: absolute;
    --show: none;
    display: var(--show);

    background-image: url("img/ground_f.png");
    background-position: bottom;
    background-size: cover;
    background-repeat: no-repeat;

    transition: $transition;

    z-index: 95;
}